* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.nav-bar {
  height: 70px;
  background-color: #313866;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  margin-right: 1.5rem;
}

.nav-bar a:hover {
  color: #c4b8f1;
}

.icon-shopping-cart {
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  position: relative;
}

.count-shopping {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: #7587fd;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  padding: 2px;
}

.card-catalog {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-catalog h2 {
 flex: 0 0 100%;
}

.card-catalog article {
 width: 240px;
 margin-bottom: 1rem;
 border: 1px solid #e7e7e7;
 box-shadow: 0 0 5px #d4d4d4;
 border-radius: .5rem;
 overflow: hidden;
}

.card-catalog img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover
}

.card-catalog div {
  padding: .5rem 1rem
}

.card-catalog h3 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: .5rem
}

.details {
  border: 1px solid;
  max-width: 1024px;
  margin: 0 auto;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 5px #d4d4d4;
  display: flex;
}

.details-image, .details-info {
  width: 50%;
  height: 400px;
  overflow: hidden;
}

.details-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.datails-info {
  padding: 0 1rem
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
